<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.Settings" version="5.0.0" targetFramework="monoandroid71" />
  <package id="Acr.Settings" version="5.0.0" targetFramework="monoandroid71" />
  <package id="MvvmCross" version="4.4.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Plugin.Messenger" version="4.4.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Plugin.Visibility" version="4.4.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Settings" version="2.5.4" targetFramework="monoandroid71" />
</packages>